h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
h2	{
	text-align: center;
	font-family: monospace;
	margin-bottom: 50px;
}

.ball{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: linear-gradient(0.25turn, #e66465, #9198e5);
	position: absolute;
	margin: auto;
	top: 0;
	left: 500px;
	bottom: 300px;
	right: 0;
	animation-name: rebond;
	animation-duration: 2s;
	animation-iteration-count:infinite; 
	animation-timing-function: ease-out;
}

@keyframes rebond {
	0% {
		background: linear-gradient(0.25turn, #e66465, #9198e5);
	}
	50% {
		background: linear-gradient(0.45turn, blue, orange);
		top: 850px;
		opacity: 0.3;
	}

	100% {
		background: linear-gradient(0.25turn, #e66465, #9198e5);
	}
}


.robots {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	background: linear-gradient(0.25turn, #e66465, #9198e5);
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
} 

.eyes {
	position:relative;
}

.head:hover {
	width: 300px;
   transition: 1s ease-in-out;

}

.android:hover .head {
	width: 300px;
   transition: 1s ease-in-out;

}


.upper_body { 
	height: 200px;
	display: flex; 
	position: relative;
	z-index: 4;
} 

.torso { 
	width: 200px; 
	height: 210px;
	border-radius: 0 0 50px 50px; 
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.right_arm:hover { 
	transition: 0.5s ;
	transform :translate(0,-100px); 
	background: rgba(87, 73, 81, 0.3);
} 

.left_arm:hover {
	box-shadow:
                1px 1px #9198e5,
                2px 2px #9198e5,
                3px 3px #9198e5,
                4px 4px #9198e5,
                5px 5px #9198e5;
                 -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
        transform: translateY(5px);
}

.left_arm { 
	margin-right: 10px; 
} 

.right_arm { 
	margin-left: 10px; 

} 



.lower_body { 
	width: 200px; 
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: auto;
	display: flex;

} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg { 
	margin-left: 45px; 
} 

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg { 
	margin-left: 30px; 
}

.right_leg:hover { 
	; -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
} 

.left_eye { 
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative; 
	top: 100px; 
	left: 40px; 
} 

.right_eye { 
	position: relative; 
	top: 80px; 
	left: 140px; 
}





